      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <h4>¡Bienvenido a la Enciclopedia Pokémon! Explora nuestro extenso dataset y descubre información detallada sobre tus Pokémon favoritos.</h4>
            </div>
          </div>
          <div class="row">
            <h5>Este dataset recopila información completa sobre diferentes Pokémon, desde sus estadísticas hasta sus habilidades y evoluciones. Es una herramienta útil para los amantes de Pokémon y para aquellos que desean explorar el fascinante mundo de estas criaturas.</h5>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card" id="pokemonDelDia" >
                <div class="card-body" id="pokemonDelDia">
                  <h4 class="card-title">Pokemon del día</h4>
                  <p>{{randomPokemonNombre()}}</p>
                    <div class="col-4" id="pokemonDelDia">
                        <figure>
                          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{randomPokemonSpAttack()}}.png" alt="pokemon" id="pokemon">
                        </figure>
                        <h6 class="text-muted font-weight-normal">Tipo: {{randomPokemonTipo()}}</h6>
                    </div>
                  </div>
                 
                </div>
              </div>
            
            <div class="col-md-4 grid-margin">
            <div class="card" id="contributions">
              <div class="card-body" id="contribuciones">
                <h4 class="card-title">Contribuciones</h4>
                <div class="d-flex d-sm-block d-md-flex align-items-center" id="cardContributions">
                  <div class="col-12" id="foto">
                  <img src="assets/images/dafne.png" alt="Dafne Ruiz" id="fotos">
                  <h6>Dafne Ruiz</h6>
                </div>
                <div class="col-12">
                <img src="assets/images/paulina.png" alt="Paulina Loor" id="fotos">
                <h6>Paulina Loor</h6>
              </div>
              <div class="col-12">
                <img src="assets/images/andres.png" alt="Andrés Cornejo" id="fotos">
                <h6>Andrés Cornejo</h6>
              </div>
              </div>
              </div>
            </div>
          </div>
        
  
          <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                    <h4 class="card-title">Funciones claves del Dataset</h4>
                  </div>
                  <div class="preview-list">
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face6.png" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <p class="text-muted text-small">Fitrado</p>
                          </div>
                          <p class="text-muted">Filtros por tipo y región</p>
                        </div>
                      </div>
                    </div>
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face8.png" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <p class="text-muted text-small">Charts</p>
                          </div>
                          <p class="text-muted">Información resumida del dataset</p>
                        </div>
                      </div>
                    </div>
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face9.png" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <p class="text-muted text-small">Cartas</p>
                          </div>
                          <p class="text-muted">Visualización de la info en forma interactiva</p>
                        </div>
                      </div>
                    </div>
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face11.png" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <p class="text-muted text-small">Tablas</p>
                          </div>
                          <p class="text-muted">Visualización de la info en forma de tabla</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Información del Dataset</h4>

                  <p class="text-muted">name: Nombre en inglés del Pokemon.</p>
                  <p class="text-muted">japanese_name: Nombre original en japonés del Pokemon.</p>
                  <p class="text-muted">pokedex_number: El número de entrada del Pokemon en la Pokédex Nacional.</p>
                  <p class="text-muted">type1: El tipo principal del Pokemon.</p>
                  <p class="text-muted">type2: El tipo secundario del Pokemon.</p>
                  <p class="text-muted">sp_attack: El Ataque Especial Base del Pokemon. </p>
                  <p class="text-muted">sp_defense: La Defensa Especial Base del Pokemon. </p>
                  <p class="text-muted">generation: La generación numerada en la que se introdujo por primera vez el Pokemon. </p>

                </div>
              </div>
            </div>


            <div class="col-md-12 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Fuente</h4>
                  
                <p class="text-muted">The Complete Pokemon Dataset</p>
                <p class="text-muted">Data on more than 800 Pokemon from all 7 Generations.</p>
                <p class="text-muted">Autor: ROUNAK BANIK</p>
                <p class="text-muted">Actualizado: Hace 6 años</p>
                <a href="https://www.kaggle.com/datasets/rounakbanik/pokemon">https://www.kaggle.com/datasets/rounakbanik/pokemon</a>
                <img src="assets/images/data.jpg" alt="" id="imagenDataset">
              </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Filtrado</h4>

                  <div class="add-items d-flex">
                    <input type="text"  [(ngModel)]="valorInput" class="form-control todo-list-input" placeholder="Ingresa para buscar pokemones por tipo">
                  </div>
                  {{filtrarElementos(valorInput)}}
                    <div class="col-md-7">
                      <table class="table" id="pokemon-table">
                        <thead>
                              <tr>
                                <th>Name</th>
                                <th>Generation</th>
                                <th>Type 1</th>
                                <th>Type 2</th>
                                <th>Sp attack</th>
                                <th>Attack</th>
                                <th>Defense</th>
                                <th>Pokedex<th>
                              </tr>
                        </thead>
                        <tbody>
                            @for (datum of datosFiltrados; track datum.pokedex_number) {
                              <tr>
                                  <td> {{ datum.percentage_male}}  </td>
                                  
                                  <td> {{ datum.type1}}  </td>
                                  <td> {{ datum.type2}}  </td>
                                  <td> {{ datum.sp_attack}}  </td>
                                  <td> {{ datum.attack}}  </td>
                                  <td>{{datum.sp_defense}}</td>
                                  <td>{{datum.generation}}</td>
                                  <td> {{ datum.pokedex_number}}  </td>
                                  
                              </tr>

                              
                            } @empty {
                              <tr>
                                <td colspan="4" class="text-center">Aún no hay datos</td>
                              </tr>

                             
                            }
                        </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
